<div class="container-fluid py-5 bg-dark hero-header mb-5">
  <div class="container my-5 py-5">
    <div class="row align-items-center g-5">
      <div class="col-lg-6 text-center text-lg-start">
        <h1 class="display-3 text-white animate__animated animate__slideInLeft">Enjoy Our<br>Delicious Meal</h1>
        <p class="text-white animate__animated animate__slideInLeft mb-4 pb-2">Tempor erat elitr rebum at clita. Diam
          dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita
          duo justo magna dolore erat amet</p>
        <a href="#menu" class="btn btn-danger py-sm-3 px-sm-5 me-3 animate__animated animate__slideInLeft">Order your
          meal </a>
        <a href="/recipes" class="btn btn-danger py-sm-3 px-sm-5 me-3 animate__animated animate__slideInLeft">Explore Recipes </a>
      </div>
      <div class="col-lg-6 text-center text-lg-end overflow-hidden">
        <img class="img-fluid" src="../../../../assets/hero.png" alt="">
      </div>
    </div>
  </div>
</div>




<!-- Navbar & Hero End -->

<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-3 col-sm-6 animate__animated animate__slideInUp">
        <div class="service-item rounded pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-user-tie text-danger mb-4"></i>
            <h5>Master Chefs</h5>
            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 animate__animated animate__slideInUp">
        <div class="service-item rounded pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-utensils text-danger mb-4"></i>
            <h5>Quality Food</h5>
            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 animate__animated animate__slideInUp">
        <div class="service-item rounded pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-cart-plus text-danger mb-4"></i>
            <h5>Online Order</h5>
            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6  animate__animated animate__slideInUp">
        <div class="service-item rounded pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-headset text-danger mb-4"></i>
            <h5>24/7 Service</h5>
            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->


<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6">
        <div class="row g-3">
          <div class="col-6 text-start">
            <img class="img-fluid rounded w-100 animate__animated animate__zoomIn" src="../../../assets/about-1.jpg">
          </div>
          <div class="col-6 text-start">
            <img class="img-fluid rounded w-75  animate__animated animate__zoomIn" src="../../../assets/about-2.jpg"
              style="margin-top: 25%;">
          </div>
          <div class="col-6 text-end">
            <img class="img-fluid rounded w-75 animate__animated animate__zoomIn"
              style="margin-top: 15px; margin-left: 60px;" src="../../../assets/about-3.jpg">
          </div>
          <div class="col-6 text-end">
            <img class="img-fluid rounded w-100 animate__animated animate__zoomIn" style="margin-top: 15px;"
              src="../../../assets/about-4.jpg">
          </div>
        </div>
      </div>
      <div class="col-lg-6">

        <h1 class="mb-4">Welcome to <i class="fa fa-utensils text-danger me-2"></i>website</h1>
        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos erat
          ipsum et lorem et sit, sed stet lorem sit.</p>
        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita
          erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
        <div class="row g-4 mb-4">
          <div class="col-sm-6">
            <div class="d-flex align-items-center border-start border-5 border-danger px-3">
              <h1 class="flex-shrink-0 display-5 text-danger mb-0">15</h1>
              <div class="ps-4">
                <p class="mb-0">Years of</p>
                <h6 class="text-uppercase mb-0">Experience</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="d-flex align-items-center border-start border-5 border-danger px-3">
              <h1 class="flex-shrink-0 display-5 text-danger mb-0">50</h1>
              <div class="ps-4">
                <p class="mb-0">Popular</p>
                <h6 class="text-uppercase mb-0">Master Chefs</h6>
              </div>
            </div>
          </div>
        </div>
        <a class="btn btn-danger py-3 px-5 mt-2" href="">Read More</a>
      </div>
    </div>
  </div>
</div>



<form (ngSubmit)="searchByCategory() " class="search">
  <input type="text" placeholder="Search by category" [(ngModel)]="category" name="category">
  <button type="submit">Search</button>
</form>

<h1 class="mb-5 text-center" id="menu" style="font-family: 'Miniver', cursive" >Our Meal</h1>
<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col animate__animated animate__zoomIn" *ngFor="let food of foods">
    <!-- <a routerLink="/food/{{food._id}}" class="text-decoration-none"> -->
    <div class="card">
      <a routerLink="/food/{{food.id}}" class="text-decoration-none">
      <!-- <img [src]="food.imageUrl" [alt]="food.name" class="card-img-top border-5" > -->
      <img src="../../../../assets/food-2.jpg" [alt]="food.name" class="card-img-top border-5" >
    </a>
      <div class="card-body">
        <div class="content">
          <div class="name">
            {{food.title}}
          </div>
          <div class="name">
            {{food.sumarry}}
          </div>
          <div class="name">
            {{food.category}}
          </div>
          <span class="favorite {{food.favorite?'':'not'}}">
            ❤
          </span>
          <!-- <button class="btn btn-danger" (click)="updateFoodById(food._id)">Delete</button> -->
          <!-- <button routerLink="/update-food/{{food._id}}">Update Food</button> -->


          <!-- <div class ="stars">
           </div> -->

          <!-- <div class="product-item-footer">
            <div class="origins">

              <span *ngFor="let origin of food.origins">
                {{origin}}
              </span>
            </div>

            <div class="cook-time">
              <span>🕒</span>
              {{food.cookTime}}
            </div>
          </div> -->

          <div class="price">
            <span>

              {{food.price | currency}}
            </span>
          </div>

        </div>
      </div>
    </div>
  <!-- </a> -->
  </div>

</div></div>


<!-- Team Start -->
<!-- <div class="container-xxl pt-5 pb-3">
  <div class="container">
    <div class="text-center animate__animated animate__fadeInUp">
      <h5 class="section-title ff-secondary text-center text-danger fw-normal">Team Members</h5>
      <h1 class="mb-5">Our Master Chefs</h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-3 col-md-6  animate__animated animate__fadeInUp">
        <div class="team-item text-center rounded overflow-hidden">
          <div class="rounded-circle overflow-hidden m-4">
            <img class="img-fluid" src="../../../assets/team-1.jpg" alt="">
          </div>
          <h5 class="mb-0">Full Name</h5>
          <small>Designation</small>
          <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-square btn-danger mx-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square btn-danger mx-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square btn-danger mx-1" href=""><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
        <div class="team-item text-center rounded overflow-hidden">
          <div class="rounded-circle overflow-hidden m-4">
            <img class="img-fluid" src="../../../assets/team-2.jpg" alt="">
          </div>
          <h5 class="mb-0">Full Name</h5>
          <small>Designation</small>
          <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-square btn-danger mx-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square btn-danger mx-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square btn-danger mx-1" href=""><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6  animate__animated animate__fadeInUp">
        <div class="team-item text-center rounded overflow-hidden">
          <div class="rounded-circle overflow-hidden m-4">
            <img class="img-fluid" src="../../../assets/team-1.jpg" alt="">
          </div>
          <h5 class="mb-0">Full Name</h5>
          <small>Designation</small>
          <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-square btn-danger mx-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square btn-danger mx-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square btn-danger mx-1" href=""><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 animate__animated animate__fadeInUp">
        <div class="team-item text-center rounded overflow-hidden">
          <div class="rounded-circle overflow-hidden m-4">
            <img class="img-fluid" src="../../../assets/team-4.jpg" alt="">
          </div>
          <h5 class="mb-0">Full Name</h5>
          <small>Designation</small>
          <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-square btn-danger mx-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square btn-danger mx-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square btn-danger mx-1" href=""><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Team End -->


<!-- Testimonial Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center">
      <h3 class="section-title ff-secondary text-center text-danger " style="font-family: 'Miniver', cursive" >Testimonial</h3>
      <h1 class="mb-5">Our Clients Say!!!</h1>
    </div>

    <div class="row g-1">
      <div class="col-lg-3 col-md-6  testimonial-item bg-transparent border rounded p-4">
        <i class="fa fa-quote-left fa-2x text-danger mb-3"></i>
        <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
        <div class="d-flex align-items-center">
          <img class="img-fluid flex-shrink-0 rounded-circle" src="../../../assets/testimonial-2.jpg"
            style="width: 50px; height: 50px;">
          <div class="ps-3">
            <h5 class="mb-1">Client Name</h5>
            <small>Profession</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6  testimonial-item bg-transparent border rounded p-4">
        <i class="fa fa-quote-left fa-2x text-danger mb-3"></i>
        <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
        <div class="d-flex align-items-center">
          <img class="img-fluid flex-shrink-0 rounded-circle" src="../../../assets/testimonial-2.jpg"
            style="width: 50px; height: 50px;">
          <div class="ps-3">
            <h5 class="mb-1">Client Name</h5>
            <small>Profession</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6  testimonial-item bg-transparent border rounded p-4">
        <i class="fa fa-quote-left fa-2x text-danger mb-3"></i>
        <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
        <div class="d-flex align-items-center">
          <img class="img-fluid flex-shrink-0 rounded-circle" src="../../../assets/testimonial-3.jpg"
            style="width: 50px; height: 50px;">
          <div class="ps-3">
            <h5 class="mb-1">Client Name</h5>
            <small>Profession</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6  testimonial-item bg-transparent border rounded p-4">
        <i class="fa fa-quote-left fa-2x text-danger mb-3"></i>
        <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
        <div class="d-flex align-items-center">
          <img class="img-fluid flex-shrink-0 rounded-circle" src="../../../assets/testimonial-4.jpg"
            style="width: 50px; height: 50px;">
          <div class="ps-3">
            <h5 class="mb-1">Client Name</h5>
            <small>Profession</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->
