

.hero-header {
  background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../../../../assets/bg-hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-header img {
  animation: imgRotate 50s linear infinite;
}

@keyframes imgRotate { 
  100% { 
      transform: rotate(360deg); 
  } 
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, .5);
}

  .service-item {
      box-shadow: 0 0 45px rgba(0, 0, 0, .08);
      transition: .5s;
  }

  .service-item:hover {
      background:rgb(145, 145, 252);
  }

  .service-item * {
      transition: .10s;
  }






ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

li a{
  height: 22.5rem;
  width: 20rem;
  border: 1px solid whitesmoke;
  border-radius: 2rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #e72929;
  text-decoration: none;
}

li a:hover{
  opacity: 0.9;
  cursor: pointer;
}

li a img{
  object-fit: cover;
  height: 14.5rem;
}

.content{
  margin-top: 0.3rem;
  padding: 0.5rem 1rem;
  position: relative;
  height: 7rem;
}

.favorite{
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.2rem;
}

.favorite.not{
  color: grey;
}

.stars{
  margin-bottom: 0.2rem;
}

.product-item-footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.origins{
  flex: 9;
}

.origins span{
  border-radius: 2rem;
  background-color: whitesmoke;
  display: inline-block;
  font-size: 0.8rem;
  color: grey;
  margin-right: 0.3rem;
  padding: 0 0.5rem;
  margin-top: 0.2rem;
}

.cook-time{
  font-size: 0.9rem;
  flex: 3;
  text-align: right;
}

.price{
  position: absolute;
  bottom: 0;
  left: 0.9rem;
  background: white;
  padding: 0.3rem 100% 0 0;
  color: #414141;
  margin-top: 0.7rem;
  font-size: 1.1rem;
}


















































