<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@500;700&display=swap"
rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,700;1,400&family=Miniver&family=Raleway:wght@100&display=swap" rel="stylesheet"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<!-- Icon Font Stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="total">
<div class="pq-breadcrumb" style="background-image: url(https://peacefulqode.com/themes/millennium/html/images/blog/breadcrumb.jpg);">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <nav aria-label="breadcrumb">
          <div class="pq-breadcrumb-title">
            <h1>contact Us</h1>
          </div>
          <div class="pq-breadcrumb-container">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="index.html">
                  <i class="fa fa-home" style="font-size:33px"></i> Home
                </a>
              </li>
              <li class="breadcrumb-item-active">
                <span>&#62;</span>
                contact us</li>
            </ol>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<!--

<section class="pq-contact-us">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-ms-4" id="con">
        <div class="contact-container">
          <div class="contact-icon-box">
            <div class="contact-icon-box-icon">
              <span class="contact-icon">
                <i aria-hidden="true" class=" ti-location-pin"></i>
              </span>
            </div>
            <div class="contact-icon-box-content">
              <h4 class="contact-icon-box-title">
                <span>Our Location</span>
              </h4>
              <p class="contact-icon-box-description m-0">The Queen's Walk, Bishop's, London SE1 7PB,
                United Kingdom</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-ms-4" id="con">
        <div class="contact-container">
          <div class="contact-icon-box">
            <div class="contact-icon-box-icon">
              <span class="contact-icon">
                <i aria-hidden="true" class=" ti-headphone-alt"></i>
              </span>
            </div>
            <div class="contact-icon-box-content">
              <h4 class="contact-icon-box-title">
                <span>Our Contact</span>
              </h4>
              <p class="contact-icon-box-description m-0">+ (567) 1234-567-8900<br>+ (567)
                1234-567-8901</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-ms-4" id="con">
        <div class="contact-container">
          <div class="contact-icon-box">
            <div class="contact-icon-box-icon">
              <span class="contact-icon">
                <i aria-hidden="true" class="  ti-email"></i>
              </span>
            </div>
            <div class="contact-icon-box-content">
              <h4 class="contact-icon-box-title">
                <span>Mail Us</span>
              </h4>
              <p class="contact-icon-box-description m-0">
                info@peacefulthemes.com<br>info2@peacefulthemes.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

 -->

<!--

<section class="pq-contact-us">
  <div class="columns">
      <div class="column " style="width: 250px; background-color: aqua;">
        <div class="contact-container">
          <div class="contact-icon-box">
            <div class="contact-icon-box-icon">
              <span class="contact-icon">
                <i aria-hidden="true" class=" ti-location-pin"></i>
              </span>
            </div>
            <div class="contact-icon-box-content">
              <h4 class="contact-icon-box-title">
                <span>Our Location</span>
              </h4>
              <p class="contact-icon-box-description m-0">The Queen's Walk, Bishop's, London SE1 7PB,
                United Kingdom</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column " style="width: 250px; background-color: aqua;">
        <div class="contact-container">
          <div class="contact-icon-box">
            <div class="contact-icon-box-icon">
              <span class="contact-icon">
                <i aria-hidden="true" class=" ti-headphone-alt"></i>
              </span>
            </div>
            <div class="contact-icon-box-content">
              <h4 class="contact-icon-box-title">
                <span>Our Contact</span>
              </h4>
              <p class="contact-icon-box-description m-0">+ (567) 1234-567-8900<br>+ (567)
                1234-567-8901</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column " style="width: 250px; background-color: aqua;">
        <div class="contact-container">
          <div class="contact-icon-box">
            <div class="contact-icon-box-icon">
              <span class="contact-icon">
                <i aria-hidden="true" class="  ti-email"></i>
              </span>
            </div>
            <div class="contact-icon-box-content">
              <h4 class="contact-icon-box-title">
                <span>Mail Us</span>
              </h4>
              <p class="contact-icon-box-description m-0">
                info@peacefulthemes.com<br>info2@peacefulthemes.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>






 -->






























<section id="services">
  <div class="container text-center">
      <div class="row g-12 row-cols-1 row-cols-md-2 row-cols-lg-3 py-5 " id="hh">



          <div class="p-cards ">
              <div class="card shadow-sm py-5">
                  <div class="card-icon translate-middle-x">
                      <i class="fa-solid fa-mobile-screen fa-3x"></i>
                  </div>
                  <div class="card-body">
                    <div class="location ">
                      <i class='fas fa-map-marker-alt' style='font-size:36px'></i>
                    </div>
                      <h3 class="card-title mt-3">Our Location</h3>
                      <p class="card-text text-muted">The Queen's Walk, Bishop's, London SE1 7PB, United Kingdom</p>
                  </div>
              </div>
          </div>
          <div class="p-cards ">
              <div class="card shadow-sm py-5">
              <div class="card-icon translate-middle-x">
                  <i class="fa-solid fa-paintbrush fa-3x"></i>
              </div>
              <div class="card-body">
                <div class="location ">
                  <i class="fas fa-headphones-alt" style='font-size:36px'></i>
                </div>
                  <h3 class="card-title mt-3">Our Contact</h3>
                  <h5 class="card-text text-muted">+ (567) 1234-567-8900</h5>
                  <h5 class="card-text text-muted">+ (567) 1234-567-8901</h5>
              </div>
          </div>
      </div>
      <div class="p-cards ">
          <div class="card shadow-sm py-5">
              <div class="card-icon translate-middle-x">
                  <i class="fa-solid fa-chart-simple fa-3x"></i>
              </div>
              <div class="card-body">
                <div class="location ">
                  <i class="fa fa-envelope" style="font-size:36px"></i>
                </div>
                  <h3 class="card-title mt-3">Mail Us</h3>
                  <h5 class="card-text text-muted">info@peacefulthemes.com</h5>
                  <h5 class="card-text text-muted">info2@peacefulthemes.com</h5>
              </div>
          </div>
      </div>
  </div>
</div>
</section>







<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="wrapper">
          <div class="row no-gutters ">
            <div class="col-md-5 d-flex contact-image">
              <div id="map" style="background-image: url(https://peacefulqode.com/themes/millennium/html/images/contact-us/1.jpg);background-size: cover;">
              </div>
            </div>
            <div class="col-md-7">
              <div class="contact-wrap w-100 p-md-5 p-4">
                <span>LET'S TALK </span>
                <h3 class="mb-4">Get In Touch</h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,</p>
                <form id="contactForm" name="contactForm" class="contactForm">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group">
                        <label class="label" for="name">Full Name</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="label" for="email">Email Address</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="label" for="#">Message</label>
                        <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="submit" value="Contact Us" class="btn ">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>



          <!-- </div>
          <div class="row">
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa fa-map-marker"></span>
                </div>
                <div class="text">
                  <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa fa-phone"></span>
                </div>
                <div class="text">
                  <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa fa-paper-plane"></span>
                </div>
                <div class="text">
                  <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa fa-globe"></span>
                </div>
                <div class="text">
                  <p><span>Website</span> <a href="#">yoursite.com</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>







<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Contact Form #09</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        <div class="wrapper">
          <div class="row justify-content-center">
            <div class="col-lg-8 mb-5">
              <div class="row">
                <div class="col-md-4" id="con">
                  <div class="dbox w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                      <span class="fa fa-map-marker"></span>
                    </div>
                    <div class="text">
                      <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="dbox w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                      <span class="fa fa-phone"></span>
                    </div>
                    <div class="text">
                      <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="dbox w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                      <span class="fa fa-paper-plane"></span>
                    </div>
                    <div class="text">
                      <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>





















































































            <section class="banners-section container-fluid header-sample-section">
              <div class="banners-container">
                <div class="row d-flex justify-content-center gap-lg-4 gap-md-3">
                  <div class="banners-column banners-element col-lg-4 col-md-4 col-12">
                    <div class="banners-column-wrap">
                      <div class="banners-widget-wrap">
                        <div class="banners-element banners-widget">
                          <div class="banners-widget-container">
                            <div class="bwp-widget-banner layout-4">
                              <div class="bg-banner">
                                <div class="banner-wrapper banners">
                                  <div class="bwp-image banners-animation-wobble-horizontal">
                                    <a href=""
                                      ><img
                                        alt="Banner Image"
                                        data-lazy-src="https://wpbingosite.com/wordpress/flacio/wp-content/uploads/2021/12/banner-10-4.jpg"
                                        class="entered lazyloaded col-12"
                                        src="https://wpbingosite.com/wordpress/flacio/wp-content/uploads/2021/12/banner-10-4.jpg"
                                        data-ll-status="loaded"
                                    /></a>
                                  </div>
                                  <div class="banner-wrapper-infor">
                                    <div class="info">
                                      <div class="content">
                                        <h3 class="title-banner m-0">
                                          New <span>Arrivals</span>
                                        </h3>
                                        <a
                                          class="button"
                                          href=""
                                          >Shop now</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="banners-column banners-element col-lg-3 col-md-3 col-12">
                    <div class="banners-column-wrap">
                      <div class="banners-widget-wrap">
                        <div class="banners-element banners-widget">
                          <div class="banners-widget-container">
                            <div class="bwp-widget-banner">
                              <div class="bg-banner">
                                <div class="banner-wrapper banners">
                                  <div
                                    class="bwp-image banners-animation-wobble-horizontal"
                                  >
                                    <a href=""
                                      ><img
                                        alt="Banner Image"
                                        data-lazy-src="https://wpbingosite.com/wordpress/flacio/wp-content/uploads/2021/12/banner-10-5.jpg"
                                        class="entered lazyloaded col-12"
                                        src="https://wpbingosite.com/wordpress/flacio/wp-content/uploads/2021/12/banner-10-5.jpg"
                                        data-ll-status="loaded"
                                    /></a>
                                  </div>
                                  <div class="middle-banner">
                                    <div class="info">
                                      <div class="content">
                                        <h3 class="title-banner m-0">
                                          Gift <span>Green</span>
                                        </h3>
                                        <a
                                          class="button"
                                          href=""
                                          >Shop now</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="banners-column banners-element col-lg-4 col-md-4 col-12">
                    <div class="banners-column-wrap">
                      <div class="banners-widget-wrap">
                        <div class="banners-element banners-widget">
                          <div class="banners-widget-container">
                            <div class="bwp-widget-banner">
                              <div class="bg-banner">
                                <div class="banner-wrapper banners">
                                  <div
                                    class="bwp-image banners-animation-wobble-horizontal"
                                  >
                                    <a href=""
                                      ><img
                                        alt="Banner Image"
                                        data-lazy-src="https://wpbingosite.com/wordpress/flacio/wp-content/uploads/2021/12/banner-10-6.jpg"
                                        class="entered lazyloaded col-12"
                                        src="https://wpbingosite.com/wordpress/flacio/wp-content/uploads/2021/12/banner-10-6.jpg"
                                        data-ll-status="loaded"
                                    /></a>
                                  </div>
                                  <div class="banner-wrapper-infor">
                                    <div class="info">
                                      <div class="content">
                                        <h3 class="title-banner m-0">
                                          Home <span>Grown</span>
                                        </h3>
                                        <a
                                          class="button"
                                          href=""
                                          >Shop now</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>


























































            <section id="why-us" class="why-us">
              <div class="container">
                <div class="section-title">
                  <h2>Why choose <span>Our Website</span></h2>
                  <p>
                    Our user-friendly platform makes it easy to browse and select recipes,
                    customize your meal plan, and track your progress. We also offer a
                    variety of resources and tools, such as grocery lists, cooking tips, and
                    nutritional information, to help you stay on track and achieve your
                    goals. At Cook Smart, we believe that healthy eating should be easy and
                    enjoyable, and we are committed to helping you make it a part of your
                    daily routine.
                  </p>
                </div>

                <div class="row">
                  <div class="col-lg-4">
                    <div class="box">
                      <span>01</span>
                      <h4>Inspiration for cooking</h4>
                      <p>
                        Our Website can provide inspiration for new recipes and cooking
                        techniques.
                      </p>
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="box">
                      <span>02</span>
                      <h4>Nutrition information</h4>
                      <p>
                        Our Website provide nutrition information for our recipes, helping
                        you make informed choices about what you eat.
                      </p>
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="box">
                      <span>03</span>
                      <h4>Convenience</h4>
                      <p>
                        Our Website can be a convenient resource for grocery shopping. you
                        can search for recipes based on ingredients you have on hand, or
                        create personalized meal plans that fit your dietary needs and
                        preferences.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </section> -->

          </div>

          </div>

          </div>
          </div>

        </div>

        </section><br><br><br>
          <div class="map">
            <iframe
              style="border: 0; width: 100%; height: 350px"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3413.01346618717!2d29.903514274179177!3d31.192639974365676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f5c394ebd03ec1%3A0x16cbff5d844ff34b!2sInformation%20Technology%20Institute!5e0!3m2!1sen!2seg!4v1683204969376!5m2!1sen!2seg"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>
        </div>
