<h1 class="country-name">{{ country?.name }}</h1>

<div class="recipes-container" *ngIf="recipes && recipes.length > 0">
  <div class="recipe" *ngFor="let recipe of recipes">
    <h2 class="recipe-title">{{ recipe.title }}</h2>
    <img
      src="https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=481&q=80"
      alt="{{ recipe.title }}"
    />
    <p>Preparation Time: {{ recipe.preparationTime }}</p>
    <a [routerLink]="['/foodrecipe', recipe.id]" class="recipe-link"
      >Check Recipe</a
    >
  </div>
</div>

<div class="no-recipes" *ngIf="!recipes || recipes.length === 0">
  No recipes found for this country.
</div>
