

<div class="info">
  <a href="https://omnivorescookbook.com/recipes/classic-tomato-and-egg-stir-fry/" class="info-box">
    <!-- title   -->
    <span> <strong>Classic Tomato and Egg Stir-Fry</strong></span>
    <!-- detail   -->
    <span> <strong>Tomato egg stir-fry is classic, simple and delicious. It has become a must-have at almost every Chinese school and office cafeteria, thus has become a simple yet popular staple in many Chinese households.</strong></span>
    <!-- button text -->
    <div class="pic">
      <div class="button"></div>
    </div>
  </a>
  <a href="https://tasty.co/recipe/thai-style-chicken-and-prawn-fried-noodles-pad-thai" class="info-box">
    <!-- title   -->
    <span> <strong>Chicken and Prawn Pad Thai</strong></span>
    <!-- detail   -->
    <span> <strong>Pad Thai is a popular thai dish made with slippery noodles, sprinkles of peanuts, and a tang of lime; all combined together with a signature sauce that gives a sweet and savory flavor.</strong></span>
    <!-- button text -->
    <div class="pic">
      <div class="button"></div>
    </div>
  </a>
  <a href="https://thewoksoflife.com/beijing-fried-sauce-noodles-zha-jiang-mian/" class="info-box">
    <!-- title   -->
    <span> <strong>Zha Jiang Mian (Fried Sauce Noodles)</strong></span>
    <!-- detail   -->
    <span> <strong>Incredibly popular in Beijing, Zha Jiang Mian is comprised mainly of chewy noodles and a rich meaty sauce. It is sold everywhere, from street vendors to five star hotels/restaurants.</strong></span>
    <!-- button text -->
    <div class="pic">
      <div class="button"></div>
    </div>
  </a>
  <a href="https://www.justonecookbook.com/mapo-tofu/" class="info-box">
    <!-- title   -->
    <span> <strong>Mapo Tofu</strong> </span>
    <!-- detail   -->
    <span><strong>A combination of silken tofu, ground pork, and various spices are complemented by Sichuan Peppercorns to provide a dish that gives a great taste/fragrance and an amazingly unique numbing sensation.</strong></span>
    <!-- button text -->
    <div class="pic">
      <div class="button"></div>
    </div>



