<!-- <app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer> -->



<!-- <div *ngIf="isauthenticated()"> -->
  <!-- If user is authenticated, render the appropriate component based on their role -->
  <!-- <div *ngIf="getuserrole() === 'user'">
    <app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
  </div>

  <div *ngIf="getuserrole() === 'admin'"> -->
<!-- <app-dashboard></app-dashboard>
<router-outlet></router-outlet> -->

<!-- <ng-container *ngIf="getCurrentRoute() === '/dashboard'">
  <app-dashboard></app-dashboard>
</ng-container> -->


  <!-- </div>
</div> -->

<!-- <div *ngIf="!isauthenticated()">

   <app-login-page></app-login-page>
</div>
<div *ngIf="getuserrole() === 'user'">
  <ng-container *ngIf="getCurrentRoute() !== '/dashboard'">
    <app-header></app-header>
  </ng-container>

  <router-outlet></router-outlet>

  <ng-container *ngIf="getCurrentRoute() !== '/dashboard'">
    <app-footer></app-footer>
  </ng-container> -->

  <!-- <ng-container *ngIf="getCurrentRoute() === '/'">
    <app-home></app-home>
  </ng-container> -->

  <!-- <ng-container *ngIf="getCurrentRoute() === '/dashboard' && authService.isAdmin()">
    <app-dashboard></app-dashboard>
  </ng-container>

 -->
 <!-- <ng-container *ngIf="getuserrole() === 'user'">
  <app-header></app-header>
  </ng-container>

  <router-outlet></router-outlet>

  <ng-container *ngIf="getCurrentRoute() !== '/dashboard'">
  <app-footer></app-footer>
  </ng-container>

  <ng-container *ngIf="getuserrole() === 'user'">
  <app-home></app-home>
  </ng-container>

  <ng-container *ngIf="getCurrentRoute() === '/dashboard' && authService.isAdmin()">
  <app-dashboard></app-dashboard>
  </ng-container> -->
  <!-- <ng-container *ngIf="isauthenticated()">
    <ng-container *ngIf="getuserrole() === 'user'">
      <app-header></app-header>
    </ng-container>

    <router-outlet></router-outlet>

    <ng-container *ngIf="getCurrentRoute() !== '/dashboard'">
      <app-footer></app-footer>
    </ng-container>

    <ng-container *ngIf="getCurrentRoute() === '/dashboard' && authService.isAdmin()">
      <app-dashboard></app-dashboard>
    </ng-container>
  </ng-container>

  <div *ngIf="!isauthenticated()">
    <app-login-page></app-login-page>
  </div> -->

  <!-- <app-header></app-header> <router-outlet></router-outlet> <app-footer></app-footer> --> <!-- <div *ngIf="isauthenticated()"> --> <!-- If user is authenticated, render the appropriate component based on their role --> <!-- <div *ngIf="getuserrole() === 'user'"> <app-header></app-header> <router-outlet></router-outlet> <app-footer></app-footer> </div> <div *ngIf="getuserrole() === 'admin'"> --> <!-- <app-dashboard></app-dashboard> <router-outlet></router-outlet> --> <!-- <ng-container *ngIf="getCurrentRoute() === '/dashboard'"> <app-dashboard></app-dashboard> </ng-container> --> <!-- </div> </div> --> <!-- <div *ngIf="!isauthenticated()"> --> <!-- If user is not authenticated, show the login page --> <!-- <app-login-page></app-login-page> </div> --> <!-- <div *ngIf="getuserrole() === 'user'"></div> -->
<!-- <ng-container *ngIf="getuserrole() === 'user'">
  <app-header></app-header>
  </ng-container>

  <router-outlet></router-outlet>

  <ng-container *ngIf="getCurrentRoute() !== '/dashboard'">
  <app-footer></app-footer>
  </ng-container> -->

  <!-- <ng-container *ngIf="getuserrole() === 'user'"> <app-home></app-home> </ng-container> -->
  <!-- <ng-container *ngIf="getCurrentRoute() === '/dashboard' && authService.isAdmin()">
  <app-dashboard></app-dashboard>
  </ng-container> -->
  <!-- <ng-container *ngIf="getCurrentRoute() !== '/dashboard'">
    <app-header></app-header>
  </ng-container>

  <router-outlet></router-outlet>

  <ng-container *ngIf="getCurrentRoute() !== '/dashboard'">
    <app-footer></app-footer>
  </ng-container>

  <ng-container *ngIf="getuserrole() === 'admin'">
    <app-dashboard></app-dashboard>
  </ng-container>

  <ng-container *ngIf="getuserrole() === 'user'">
    <app-home></app-home>
  </ng-container> -->
  <ng-container *ngIf="getuserrole() === 'user'">
    <app-header></app-header>
  </ng-container>

  <router-outlet></router-outlet>

  <ng-container *ngIf="getCurrentRoute() !== '/dashboard'">
    <app-footer></app-footer>
  </ng-container>

  <ng-container *ngIf="getuserrole() === 'admin' && getCurrentRoute() === '/dashboard'  ">
    <app-dashboard></app-dashboard>
  </ng-container>

  <ng-container *ngIf="getuserrole() === 'user'">
    <app-home></app-home>
  </ng-container>
