
  <ng-container *ngIf="authService.isAuthenticated() && authService.getUserRole() === 'user'">
    <app-header></app-header>
  
  </ng-container>
  
  <router-outlet></router-outlet>
  
  <ng-container *ngIf="authService.isAuthenticated() && authService.getUserRole() === 'user' && getCurrentRoute() !== '/dashboard' && getCurrentRoute() !== '/dashboard_food/creatfood' && getCurrentRoute() !== '/dashboard_food/update-food/:id' && getCurrentRoute() !== '/dashboard_food'">
    <app-footer></app-footer>
  </ng-container>
