<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/><link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,700;1,400&family=Miniver&family=Raleway:wght@100&display=swap" rel="stylesheet"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<div class="meal">
  <h1>Your Meal</h1>
</div>
<div class="container">
  <img src="https://c4.wallpaperflare.com/wallpaper/27/130/518/hamburger-cheeseburger-sandwich-snack-food-wallpaper-preview.jpg" alt="food.name"/>

  <div class="details">
    <div class="header">
      <span class="name">
        {{food.title}}
      </span>
      <span class="favorite">❤</span>
    </div>
    <div class="pricee">
      <span class="name">
        Price: <span>{{food.price}} $</span>
      </span>
      <div class="rating">
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <!-- <span><i class="fa fa-star-o"></i></span> -->
    </div>
    </div>
    <!-- <div class="rating">
      <star-rating
      [value]="food.stars"
      [totalstars]="5"
      checkedcolor="red"
      uncheckedcolor="black"
      size="25px"
      [readonly]="true">
    </star-rating>
    </div> -->
    <div class="tags">
      <a>
        {{food.category}}
      </a>
      <!-- <a>
        checken
      </a>
      <a>
        burger
      </a> -->
    </div>



    <div class="origins">
      <span>
        {{food.summary}}
      </span>
    </div>

    <!-- <div class="tags">
      <a>
        tag
      </a>
    </div> -->

    <!-- <div class="cook-time">
      <span>
        Time to cook about <strong>10</strong> minutes
      </span>
    </div>

    <div class="price">
      <span>
        50$
      </span>
    </div> -->

    

  </div>
</div>



















