<div class="container">
  <img src="https://c4.wallpaperflare.com/wallpaper/27/130/518/hamburger-cheeseburger-sandwich-snack-food-wallpaper-preview.jpg" alt="food.name"/>

  <div class="details">
    <div class="header">
      <span class="name">
        Burger
      </span>
      <span class="favorite">❤</span>
    </div>
    <!-- <div class="rating">
      <star-rating
      [value]="food.stars"
      [totalstars]="5"
      checkedcolor="red"
      uncheckedcolor="black"
      size="25px"
      [readonly]="true">
    </star-rating>
    </div> -->

    <div class="origins">
      <span>
        this is my food
      </span>
    </div>

    <div class="tags">
      <a>
        tag
      </a>
    </div>

    <div class="cook-time">
      <span>
        Time to cook about <strong>10</strong> minutes
      </span>
    </div>

    <div class="price">
      <span>
        50$
      </span>
    </div>

    <button>Add To Cart</button>

  </div>
</div>
