<div class="container">
    <div class="content">
        <h1>Order Summary</h1>
      <!-- <app-title title="Order Summary" fontSize="1.6rem"></app-title> -->
      <div class="summary">
        <div>
          <h3>Name:</h3>
          <span>Viola</span>
          <!-- <span>{{order.name}}</span> -->
        </div>
        <div>
          <h3>Address:</h3>
          <span>st akjxshlxksh</span>
          <!-- <span>{{order.address}}</span> -->
        </div>
      </div>
      <!-- <order-items-list [order]="order"></order-items-list> -->
    </div>
    <div class="map">
      <!-- <app-title
      title="Shipping Address"
      fontSize="1.6rem"></app-title> -->
      <!-- <map [order]="order" [readonly]="true"></map> -->
      <map></map>
    </div>
    <div class="buttons-container">
      <div class="buttons">
        <button class="btn btn-danger"></button>
        <!-- <paypal-button [order]="order">
        </paypal-button> -->
      </div>
    </div>
  </div>
  