<div class="container">
    <div class="content" *ngIf="order">
      <!-- <h1>Order #{{order.id}}</h1> -->
      <div class="details">
        <!-- <div><strong>Date</strong> {{order.createdAt | date:'medium'}}</div> -->
        <div><strong>Name</strong></div>
        <div><strong>Address</strong> {{order.address}}</div>
        <div><strong>Status</strong> {{order.status}}</div>
        <div *ngIf="order.paymentId">
          <strong>Payment ID</strong> {{order.paymentId}}
        </div>
      </div>
  
    </div>
  
    <div>
    </div>
  </div>
  <!-- my vision -->

<!-- <section class="page-header">
    <div class="overly"></div>   
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="content text-center">
            <h1 class="mb-3">Orders</h1>
  
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a class="text-danger" routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Orders</li>
            </ol>
          </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <main class="p-5 ">
   
    <article class=" p-2 mb-5">
        <div class="row ">
            <aside class="col-md-3">
                <a href="#" class="img-wrap">
                    <img src="assets/img/menu/menu-item-1.png" class="w-25 ml-5 text-center">
                </a>
            </aside>
            <div class="col-md-6">
                <div class="info-main">
                    <a href="#" class="h5 title"> Great product name goes here  </a>
                    <div class="rating-wrap mb-3">
                       
                    </div> 
                    
                    <p> Take it as demo specs, ipsum dolor sit amet, <br>consectetuer adipiscing elit, Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Ut wisi enim ad minim veniam </p>
                </div> 
            </div> 
            <aside class="col-sm-3">
                <div class="info-aside">
                    <div class="price-wrap">
                        <span class="price h5"> $56.00 </span>  
                    </div> 
                    <p class="text-primary">Free shipping</p>
                    <br>
                    <p>
                        <a href="#" class="w-50 btn btn-danger btn-block"> Details </a>
                         
                    </p>
                </div> 
            </aside>
        </div> 
    </article> 
    
    <article class=" p-2 mb-5">
        <div class="row ">
            <aside class="col-md-3">
                <a href="#" class="img-wrap">
                    <img src="assets/img/menu/menu-item-1.png" class="w-25 ml-5 text-center">
                </a>
            </aside>
            <div class="col-md-6">
                <div class="info-main">
                    <a href="#" class="h5 title"> Great product name goes here  </a>
                    <div class="rating-wrap mb-3">
                       
                    </div> 
                    
                    <p> Take it as demo specs, ipsum dolor sit amet, <br>consectetuer adipiscing elit, Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Ut wisi enim ad minim veniam </p>
                </div> 
            </div> 
            <aside class="col-sm-3">
                <div class="info-aside">
                    <div class="price-wrap">
                        <span class="price h5"> $56.00 </span>  
                    </div> 
                    <p class="text-primary">Free shipping</p>
                    <br>
                    <p>
                        <a href="#" class="w-50 btn btn-danger btn-block"> Details </a>
                         
                    </p>
                </div> 
            </aside>
        </div> 
    </article> 
 
    <article class=" p-2 mb-5">
        <div class="row ">
            <aside class="col-md-3">
                <a href="#" class="img-wrap">
                    <img src="assets/img/menu/menu-item-1.png" class="w-25 ml-5 text-center">
                </a>
            </aside>
            <div class="col-md-6">
                <div class="info-main">
                    <a href="#" class="h5 title"> Great product name goes here  </a>
                    <div class="rating-wrap mb-3">
                       
                    </div> 
                    
                    <p> Take it as demo specs, ipsum dolor sit amet, <br>consectetuer adipiscing elit, Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Ut wisi enim ad minim veniam </p>
                </div> 
            </div> 
            <aside class="col-sm-3">
                <div class="info-aside">
                    <div class="price-wrap">
                        <span class="price h5"> $56.00 </span>  
                    </div> 
                    <p class="text-primary">Free shipping</p>
                    <br>
                    <p>
                        <a href="#" class="w-50 btn btn-danger btn-block"> Details </a>
                         
                    </p>
                </div> 
            </aside>
        </div> 
    </article> 
    
    
    
 </main> -->

 <!-- ANTHER ONE -->

<!-- <link rel="stylesheet" href="https://daneden.github.io/animate.css/animate.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="col-md-12 bootstrap snippets bootdeys">
<div class="x_panel">
    <div class="x_content">
        <div class="row">
           
            <div class="clearfix"></div>
            <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                <div class="well profile_view">
                    <div class="col-sm-12">
                        <h4 class="brief"><i>Spaghetti</i></h4>
                        <div class="left col-xs-7">
                            <p><strong>About: </strong> Egyption Dish</p>
                            <p><strong>Date: </strong> 15/02/2023</p>
                        
                        </div>
                        <div class="right col-xs-5 text-center">
                            <img src="assets/img/menu/menu-item-1.png" alt="" class="w-50  img-responsive">
                        </div>
                    </div>
              
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                <div class="well profile_view">
                    <div class="col-sm-12">
                        <h4 class="brief"><i>Spaghetti</i></h4>
                        <div class="left col-xs-7">
                            <p><strong>About: </strong> Egyption Dish</p>
                            <p><strong>Date: </strong> 15/02/2023</p>
                        
                        </div>
                        <div class="right col-xs-5 text-center">
                            <img src="assets/img/menu/menu-item-1.png" alt="" class="w-50  img-responsive">
                        </div>
                    </div>
              
                </div>
            </div>

         <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                <div class="well profile_view">
                    <div class="col-sm-12">
                        <h4 class="brief"><i>Spaghetti</i></h4>
                        <div class="left col-xs-7">
                            <p><strong>About: </strong> Egyption Dish</p>
                            <p><strong>Date: </strong> 15/02/2023</p>
                        
                        </div>
                        <div class="right col-xs-5 text-center">
                            <img src="assets/img/menu/menu-item-1.png" alt="" class="w-50  img-responsive">
                        </div>
                    </div>
              
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                <div class="well profile_view">
                    <div class="col-sm-12">
                        <h4 class="brief"><i>Spaghetti</i></h4>
                        <div class="left col-xs-7">
                            <p><strong>About: </strong> Egyption Dish</p>
                            <p><strong>Date: </strong> 15/02/2023</p>
                        
                        </div>
                        <div class="right col-xs-5 text-center">
                            <img src="assets/img/menu/menu-item-1.png" alt="" class="w-50  img-responsive">
                        </div>
                    </div>
              
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                <div class="well profile_view">
                    <div class="col-sm-12">
                        <h4 class="brief"><i>Spaghetti</i></h4>
                        <div class="left col-xs-7">
                            <p><strong>About: </strong> Egyption Dish</p>
                            <p><strong>Date: </strong> 15/02/2023</p>
                        
                        </div>
                        <div class="right col-xs-5 text-center">
                            <img src="assets/img/menu/menu-item-1.png" alt="" class="w-50  img-responsive">
                        </div>
                    </div>
              
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                <div class="well profile_view">
                    <div class="col-sm-12">
                        <h4 class="brief"><i>Spaghetti</i></h4>
                        <div class="left col-xs-7">
                            <p><strong>About: </strong> Egyption Dish</p>
                            <p><strong>Date: </strong> 15/02/2023</p>
                        
                        </div>
                        <div class="right col-xs-5 text-center">
                            <img src="assets/img/menu/menu-item-1.png" alt="" class="w-50  img-responsive">
                        </div>
                    </div>
              
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div> -->