a {
  text-decoration: none;
  color : black;
}
.nav-brand {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: 600;
}
nav {
 
  position: sticky;
  top: 0;
  z-index: 999;
}



