<h2>Cart</h2>

<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cart?.items">
      <td>{{ item.foodId }}</td>
      <td>{{ item.quantity }}</td>
      <td>
        <button (click)="incrementCartItemQuantity(item.foodId._id)">+</button>
        <button (click)="decrementCartItemQuantity(item.foodId._id)">-</button>
        <button (click)="removeItemFromCart(item.foodId._id)">Remove</button>
      </td>
    </tr>
  </tbody>
</table>

<h3>Add Item</h3>

<form (submit)="addItemToCart(foodId.value, quantity.value)">
  <label>
    Food ID:
    <input type="text" #foodId required>
  </label>
  <label>
    Quantity:
    <input type="number" #quantity required>
  </label>
  <button type="submit">Add Item</button>
</form>

<h3>Update Quantity</h3>

<form (submit)="updateCartItemQuantity(foodIdToUpdate.value, newQuantity.value)">
  <label>
    Food ID:
    <input type="text" #foodIdToUpdate required>
  </label>
  <label>
    New Quantity:
    <input type="number" #newQuantity required>
  </label>
  <button type="submit">Update Quantity</button>
</form>
