
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/><link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,700;1,400&family=Miniver&family=Raleway:wght@100&display=swap" rel="stylesheet"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="body">

  
<!-------------------------------------------------- image part1 --------------------------------->
<!------------------------------------------------------------------------------------------>
  <div class="pq-breadcrumb" style="background-image: url(https://cdn.pixabay.com/photo/2017/12/10/14/47/pizza-3010062_640.jpg);background-size: cover;height: 50vh;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <nav aria-label="breadcrumb">
            <div class="pq-breadcrumb-title">
              <h3>About Us</h3>
            </div>
            <div class="pq-breadcrumb-container">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="index.html">
                    <i class="fa fa-home" style="font-size:33px"></i> Home
                  </a>
                </li>
                <li class="breadcrumb-item-active">
                  <span>&#62;</span>
                  About Us </li>
              </ol>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>

<!-------------------------------------------------- End --------------------------------->
<!------------------------------------------------------------------------------------------>

<!-------------------------------------------------- Story --------------------------------->
<!------------------------------------------------------------------------------------------>

  <section class="about-us">
    <img src="https://images.pexels.com/photos/2097090/pexels-photo-2097090.jpeg?auto=compress&cs=tinysrgb&w=600">
    <div class="content">
      <span>Story About Us</span><br><br>
      <h3>That Flavors Within Wines.</h3>
      <p>We are a dedicated team of professionals committed to providing our customers with the highest quality products/services and exceptional customer support. With a focus on innovation, convenience, and reliability, we strive to exceed our customers' expectations at every turn. Whether you're looking to shop for your favorite meals online or have them delivered to your doorstep, our user-friendly platform and expert team of chefs make the process seamless and enjoyable. So why wait? Join our community today and discover the many ways we can help you achieve your culinary goals .</p>
        <div class="containerr">
            <div class="box">
              <div class="box2">
                <img src="../../../assets/img/cutlery.png" width="86px">
              </div>
              <div class="box2" style="width: 240px;" >
                <span>Speciallst</span>
                <p>Our team of culinary specialists provides expertise and support with a focus on culinary excellence, fresh ingredients, tailored service, and meeting the unique needs of our customers.</p>
              </div>
            </div>
            <div class="box">
              <div class="box2">
                <img src="../../../assets/img/food.png" width="86px">
              </div>
              <div class="box2" style="width: 240px;">
                <span>Services</span>
                <p>Our service provides a seamless and enjoyable experience, with expertly crafted meals, a user-friendly platform, and a focus on innovation, reliability, and customer satisfaction.</p>
              </div>
            </div>
        </div>
        <br><br>
      <button class="btn">View Our Menu</button>
    </div>
  </section>
</div>
<!-------------------------------------------------- End --------------------------------->
<!------------------------------------------------------------------------------------------>

<!-------------------------------------------------- Our Team --------------------------------->
<!------------------------------------------------------------------------------------------>

<div class="team">
  <h1>Our Team</h1>
</div>
<div class="container">
  <input type="radio" name="dot" id="one">
  <input type="radio" name="dot" id="two">
  <div class="main-card">
    <div class="cards">
      <div class="card">
       <div class="content">
         <div class="img">
          <img src="https://www.bodyandsoullhp.com/img/c4.jpg" alt="">
         </div>
         <div class="details">
          <div class="name">Chef Jessica</div>
          <span>Cook</span>
          <div class="job"> is a creative genius with a talent for using unusual and unexpected ingredients to create dishes that are both delicious and visually stunning. Her expertise in experimental cooking techniques </div>
        </div>
         <div class="media-icons">
           <a href="#"><i class="fab fa-facebook-f"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-youtube"></i></a>
         </div>
       </div>
      </div>
      <div class="card">
       <div class="content">
         <div class="img">
          <img src="https://www.bodyandsoullhp.com/img/c3.jpg" alt="">
         </div>
         <div class="details">
           <div class="name">Chef Lisa </div>
           <span>Cook</span>
           <div class="job">is a culinary expert with a passion for creating healthy and flavorful dishes. She specializes in using fresh, seasonal ingredients to create meals that are both nutritious and delicious,
          </div>
         </div>
         <div class="media-icons">
           <a href="#"><i class="fab fa-facebook-f"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-youtube"></i></a>
         </div>
       </div>
      </div>
      <div class="card">
       <div class="content">
         <div class="img">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSieWai4pTzkL5XnThwzJEi8kH8WZXJsNHNQ&usqp=CAU" alt="">
         </div>
         <div class="details">
          <div class="name"> Chef Kevin</div>
          <span>Cook</span>
          <div class="job"> is a master of Asian cuisine, with a focus on Japanese and Korean dishes. His expertise in using a variety of sauces and spices adds a unique and flavorful touch to our menu, making every meal a culinary adventure.
          </div>
        </div>
         <div class="media-icons">
           <a href="#"><i class="fab fa-facebook-f"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-youtube"></i></a>
         </div>
       </div>
      </div>
    </div>
    <div class="cards">
      <div class="card">
       <div class="content">
         <div class="img">
           <img src="https://peacefulqode.com/themes/millennium/html/images/testimonal/4.png" alt="">
         </div>
         <div class="details">
           <div class="name">Appolo Reef</div>
           <span>Cook</span>
           <div class="job">It is a long estabdlished fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem is simply text of the printing. </div>
         </div>
         <div class="media-icons">
           <a href="#"><i class="fab fa-facebook-f"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-youtube"></i></a>
         </div>
       </div>
      </div>
      <div class="card">
       <div class="content">
         <div class="img">
           <img src="https://www.bodyandsoullhp.com/img/c4.jpg" alt="">
         </div>
         <div class="details">
           <div class="name">Adrina Calvo</div>
           <span>Cook</span>
           <div class="job">It is a long estabdlished fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem is simply text of the printing. </div>
         </div>
         <div class="media-icons">
           <a href="#"><i class="fab fa-facebook-f"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-youtube"></i></a>
         </div>
       </div>
      </div>
      <div class="card">
       <div class="content">
         <div class="img">
           <img src="https://www.bodyandsoullhp.com/img/c3.jpg" alt="">
         </div>
         <div class="details">
           <div class="name">Nicole Lewis</div>
           <span>Cook</span>
           <div class="job">It is a long estabdlished fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem is simply text of the printing. </div>
         </div>
         <div class="media-icons">
           <a href="#"><i class="fab fa-facebook-f"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-youtube"></i></a>
         </div>
       </div>
      </div>
    </div>
  </div>
  <div class="button">
    <label for="one" class=" active one"></label>
    <label for="two" class="two"></label>
  </div>
</div>
<!-------------------------------------------------- End --------------------------------->
<!------------------------------------------------------------------------------------------>

<!-------------------------------------------------- Count --------------------------------->
<!------------------------------------------------------------------------------------------>
 <div class="count">
  <div class="box3">
    <img src="../../../assets/img/food (g1).png" width="86px">
    <h1 class="sta" data-max="243">+243</h1>
    <p>Services</p>
  </div>
  <div class="box3">
    <img src="../../../assets/img/value (d1).png" width="86px">
    <h1 class="sta" data-max="895">+895</h1>
    <p>Members</p>
  </div>
  <div class="box3">
    <img src="../../../assets/img/fork-plate-and-knife.png" width="86px">
    <h1 class="sta" data-max="532">+532</h1>
    <p>Meals</p>
  </div>
  <div class="box3">
    <img src="../../../assets/img/cutlery (f1).png" width="86px">
    <h1 class="sta" data-max="157">+157</h1>
    <p>Donations</p>
  </div>
</div>
<!-------------------------------------------------- End --------------------------------->
<!------------------------------------------------------------------------------------------>

<!---------------------------------Script for Count--------------------------->
<!------------------------------------------------------------------------------------------>
<script>
  let section = document.querySelector(".count");
  let stat = document.querySelectorAll(".box3 .sta");
  let start = false;

  window.onscroll = function(){
    if(window.scrollY >= section.offsetTop){
      if(!start){
        stat.forEach((sta) => startCount(sta));
      }
      start=true;
    }
  }

  function startCount(el){
    let max = el.dataset.max;
    let count = setInterval(() => {
      el.textContent++;
      if(el.textContent == max){
        clearInterval(count);
      }
    }, 2000 / stat)
  }

</script>
