<div class="pq-breadcrumb" style="background-image: url(https://peacefulqode.com/themes/millennium/html/images/blog/breadcrumb.jpg);">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <nav aria-label="breadcrumb">
          <div class="pq-breadcrumb-title">
            <h1>contact us</h1>
          </div>
          <div class="pq-breadcrumb-container">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="index.html">
                  <i class="fas fa-home me-2"></i>
                  <i class="fa fa-home"></i>Home
                </a>
              </li>
              <li class="breadcrumb-item active">contact us</li>
            </ol>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>


<section class="pq-contact-us">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="contact-container">
          <div class="contact-icon-box">
            <div class="contact-icon-box-icon">
              <span class="contact-icon">
                <i aria-hidden="true" class=" ti-location-pin"></i>
              </span>
            </div>
            <div class="contact-icon-box-content">
              <h4 class="contact-icon-box-title">
                <span>Our Location</span>
              </h4>
              <p class="contact-icon-box-description m-0">The Queen's Walk, Bishop's, London SE1 7PB,
                United Kingdom</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 mt-4 mt-md-0">
        <div class="contact-container">
          <div class="contact-icon-box">
            <div class="contact-icon-box-icon">
              <span class="contact-icon">
                <i aria-hidden="true" class=" ti-headphone-alt"></i>
              </span>
            </div>
            <div class="contact-icon-box-content">
              <h4 class="contact-icon-box-title">
                <span>Our Contact</span>
              </h4>
              <p class="contact-icon-box-description m-0">+ (567) 1234-567-8900<br>+ (567)
                1234-567-8901</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12 col-md-12 mt-4 mt-xl-0">
        <div class="contact-container">
          <div class="contact-icon-box">
            <div class="contact-icon-box-icon">
              <span class="contact-icon">
                <i aria-hidden="true" class="  ti-email"></i>
              </span>
            </div>
            <div class="contact-icon-box-content">
              <h4 class="contact-icon-box-title">
                <span>Mail Us</span>
              </h4>
              <p class="contact-icon-box-description m-0">
                info@peacefulthemes.com<br>info2@peacefulthemes.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>































<section id="services">
  <div class="container text-center">
      <h2 class="fw-bolder fs-1 pt-3">SERVICES</h2>
      <p class="dis-services text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      <div class="row g-4 row-cols-1 row-cols-md-2 row-cols-lg-3 py-5 ">
          <div class="p-cards ">
              <div class=" card shadow-sm py-5">
                  <div class="card-icon translate-middle-x">
                      <i class="fa-sharp fa-solid fa-display fs-1"></i>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">WEB DESIGN </h5>
                      <p class="card-text text-muted ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia, provident vitae! Magni tempora perferendis eum non provident.</p>
                  </div>
              </div>
          </div>
          <div class="p-cards ">
              <div class="card shadow-sm py-5">
                  <div class="card-icon translate-middle-x">
                      <i class="fa-solid fa-code fa-3x"></i>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">WEB DEVELOPMENT</h5>
                      <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia, provident vitae! Magni tempora perferendis eum non provident.</p>
                  </div>
              </div>
          </div>
          <div class="p-cards ">
              <div class="card shadow-sm py-5">
                  <div class="card-icon translate-middle-x">
                      <i class="fa-solid fa-camera fa-3x"></i>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">PHOTOGRAPHY</h5>
                      <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia, provident vitae! Magni tempora perferendis eum non provident.</p>
                  </div>
              </div>
          </div>
          <div class="p-cards ">
              <div class="card shadow-sm py-5">
                  <div class="card-icon translate-middle-x">
                      <i class="fa-solid fa-mobile-screen fa-3x"></i>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">RESPONSIVE DESIGN </h5>
                      <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia, provident vitae! Magni tempora perferendis eum non provident.</p>
                  </div>
              </div>
          </div>
          <div class="p-cards ">
              <div class="card shadow-sm py-5">
              <div class="card-icon translate-middle-x">
                  <i class="fa-solid fa-paintbrush fa-3x"></i>
              </div>
              <div class="card-body">
                  <h5 class="card-title">GRAPHIC DESIGN   </h5>
                  <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia, provident vitae! Magni tempora perferendis eum non provident.</p>
              </div>
          </div>
      </div>
      <div class="p-cards ">
          <div class="card shadow-sm py-5">
              <div class="card-icon translate-middle-x">
                  <i class="fa-solid fa-chart-simple fa-3x"></i>
              </div>
              <div class="card-body">
                  <h5 class="card-title">MARKETING SERVICES</h5>
                  <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia, provident vitae! Magni tempora perferendis eum non provident.</p>
              </div>
          </div>
      </div>
  </div>
</div>
</section>
