<section class="page-header">
  <div class="overly"></div>   
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Payment</h1>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent justify-content-center">
            <li class="breadcrumb-item"><a class="text-danger" routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Payment</li>
          </ol>
        </nav>
        </div>
      </div>
    </div>
  </div>
</section>
            <div class="container">
              <div class="row">
                <div class="col-12 mt-4">
                  <div class="card p-3">
                    <div class="d-flex align-items-center">
                      <p class="mb-0 fw-bold h4 me-3">Payment Methods</p>
                      <img class="img-fluid w-5 ml-auto" src="https://www.freepnglogos.com/uploads/visa-logo-download-png-21.png" alt="">
                      <div class="checkout-card-container">
                        <div class="checkout-card card-back">
                          <span class="cvc-output">{{validationCheckoutForm.get('creditCVC')?.value? validationCheckoutForm.get('creditCVC')?.value :000}}</span>
                        </div>
                        <div class="checkout-card card-front">
                          <section class="output-section">
                            <h1 class="number-output">{{ formattedInputValue ? formattedInputValue : "0000 0000 0000 0000"}}</h1>
                            <div>
                              <p class="name-output">{{ validationCheckoutForm.get('name')?.value ? validationCheckoutForm.get('name')?.value : '***** ****' }}</p>
                              <p><span class="month-output">{{formattedMonth ? formattedMonth :"00"}}</span>/<span class="year-output">{{validationCheckoutForm.get('creditYear')?.value? validationCheckoutForm.get('creditYear')?.value :"00"}}</span></p>
                            </div>
                          </section>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            
              

                        <div class="col-12">
                           <div class="card p-3">
                           <div class="card-body border p-0">
                        <p>
                            <a class="btn btn-primary p-2 w-100 h-100 d-flex align-items-center justify-content-between"
                                data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
                                aria-controls="collapseExample">
                                <span class="fw-bold">Credit Card</span>
                                <p></p>
            
                            </a>
                        </p>
                        <div class="collapse show p-3 pt-0" id="collapseExample">
                            <div class="row">
                                <div class="col-lg-5 mb-lg-0 mb-3">
                                    <p class="h4 m-4">Summary</p>
                                    <br>
                                    <p style="color: black;" class="mb-0 m-t">  Your Informations have been Securited – as any expert should tell you <br> isn’t just about keeping your data secret: it’s also about ensuring it is available when you need it, and that it can be believed. In the industry jargon you ensure information’s.</p>
                                    <div style="border: 2px;color: red;" ><p id="thank">{{message}}</p>
  
                                    </div>
                                  </div>
                                <div class="col-lg-7">
                                  <form [formGroup]="validationCheckoutForm"  method="post" (ngSubmit)="submitCheckout()">
                                    <div class="row">
                                            <div class="col-12">
                                                <div class="form_div">
                                                  <label for="name" class="form_label">Card Name</label>

                                                  <input type="text" placeholder="e.g. " id="name" name="name" maxlength="25"
                                                  class="name-input mt-4 form-control"formControlName="name"
                                                       [ngClass]="{ 'is-invalid': inputName?.invalid && (inputName?.dirty || inputName?.touched),
                                                       'is-valid': !inputName?.invalid && (inputName?.dirty || inputName?.touched)
                                                           }" />
                                                </div>
                                            </div>
                                            <div class="alert alert-danger text-danger p-0 text-start px-3"
                                            *ngIf="inputName?.invalid && (inputName?.dirty || inputName?.touched)"
                                          >
                                            <p style="font-size: small; margin: 0">
                                              <small *ngIf="inputName?.errors?.['required']">name is required.</small>
                                              <small *ngIf="inputName?.errors?.['pattern']">name must be greater than 3.</small>
                                            </p>
                                          </div>
                                            <div class="col-6">
                                              <div class="input-field date-container">
                                                <label id='date'>Exp. Date (MM/YY)</label>
                                                <div class="date-input">
                                                  <input
                                                  type='text' placeholder="MM" id='month' name="creditMonth" aria-labelledby='date'
                                                  class="date month-input form-control"
                                                  maxlength="2"
                                                  (ngModelChange)="formatMonth()"
                                                  formControlName="creditMonth"
                                                  [ngClass]="{
                                                    'is-invalid': inputCreditMonth?.invalid && (inputCreditMonth?.dirty || inputCreditMonth?.touched),
                                                    'is-valid': !inputCreditMonth?.invalid && (inputCreditMonth?.dirty || inputCreditMonth?.touched)
                                                  }" />
                                                  <input type='text' placeholder="YY" id='creditYear' name="year" aria-labelledby='date'
                                                  class="date year-input form-control" maxlength="2"
                                                  formControlName="creditYear"
                                                  [ngClass]="{
                                                    'is-invalid': inputCreditYear?.invalid && (inputCreditYear?.dirty || inputCreditYear?.touched),
                                                    'is-valid': !inputCreditYear?.invalid && (inputCreditYear?.dirty || inputCreditYear?.touched)
                                                  }"
                                    
                                                   />
                                                </div>
                                              </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="form_div">
                                                  <label for="cvc">CVC</label>
                                                  <input type="text" placeholder="e.g. 123" id="cvc" name="creditCVC"
                                                   maxlength="4"
                                                   class="cvc-input form-control"
                                                   formControlName="creditCVC"
                                                   [ngClass]="{
                                                    'is-invalid': inputCreditCVC?.invalid && (inputCreditCVC?.dirty || inputCreditCVC?.touched),
                                                    'is-valid': !inputCreditCVC?.invalid && (inputCreditCVC?.dirty || inputCreditCVC?.touched)
                                                  }"
                                                   />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                              <div class="input-field">
                                                <label for="number">Card Number</label>
                                                <input type="text" 
                                                 placeholder="e.g. 1234 5678 9123 0000"
                                                 id="number" name="creditNumber" class="number-input form-control"
                                                  formControlName="creditNumber"
                                                  maxlength="16"
                                                  (ngModelChange)="formatCreditNumber()"
                                                  [ngClass]="{
                                                    'is-invalid': inputCreditNumber?.invalid && (inputCreditNumber?.dirty || inputCreditNumber?.touched),
                                                    'is-valid': !inputCreditNumber?.invalid && (inputCreditNumber?.dirty || inputCreditNumber?.touched)
                                                  }"
                                                  >
                                              </div>
                                              <div class="alert alert-danger text-danger p-0 text-start px-3"
                                                *ngIf="inputCreditNumber?.invalid && (inputCreditNumber?.dirty || inputCreditNumber?.touched)"
      >
        <p style="font-size: small; margin: 0">
          <small *ngIf="inputCreditNumber?.errors?.['required']">credit card number is required.</small>
          <small *ngIf="inputCreditNumber?.errors?.['pattern']">must have only numbers and contains 16 character.</small>
        </p>
      </div>
                                            </div>
                                            <div class="col-12">
                                              <button style="background-color: red;" type="submit" class="checkout-animation-btn " > 
                                                 <a  routerLink="/orders"class="p-2 btn btn-main ">Make a payment!</a>
                                              </button>
                             
                                                <!-- <div class="btn btn-primary w-100">Sumbit</div> -->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>

  <!--Success Modal-->


 <div class="modal fade custom-modal"id="successModal" #successModal (click)="redirectToHome()">
 <div class="modal-dialog modal-confirm modal-dialog-centered my-auto">
    <div class="modal-content">
      <div class="modal-header">
         <div class="d-flex flex-column justify-content-center w-100">
           <div class="icon-box text-center"></div>
            <h4 class="modal-title">Awesome! thanks </h4>
          </div>
      </div>
    </div>
    
    <div class="modal-footer w-100 d-flex justify-content-center align-items-center">
        <button
        type="button"
        class="btn btn-info mt-0 mb-3"
        data-bs-dismiss="modal"
        (click)="redirectToHome()"
        >
          Continue
        </button>
    </div>
  </div>
</div> 


