<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="recipe-details" *ngIf="recipe">
        <h2>Recipe Details</h2>
        <div class="recipe-info">
          <p><i class="fas fa-utensils"></i> Recipe Name:</p>
          <h3>{{ recipe.title }}</h3>
        </div>
        <div class="recipe-info">
          <p><i class="far fa-clock"></i> Preparation Time:</p>
          <h3>{{ recipe.preparationTime }}</h3>
        </div>
        <div class="recipe-info">
          <p><i class="far fa-clock"></i> Cooking Time:</p>
          <h3>{{ recipe.cookingTime }}</h3>
        </div>
        <div class="recipe-info">
          <p><i class="fas fa-carrot"></i> Ingredients:</p>

          <p>{{ recipe.ingredients }}</p>
        </div>
        <div class="recipe-info">
          <p><i class="fas fa-book-open"></i> Instructions:</p>
          <p>{{ recipe.instructions }}</p>
        </div>
      </div>
      <div class="error" *ngIf="error">
        <p>Error: {{ error }}</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="recipe-image" *ngIf="recipe.recipe_image">
        <img
          src="https://images.unsplash.com/photo-1555939594-58d7cb561ad1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80"
          alt="Recipe Image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>
