<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" id="title"  class="form-control" name="title" [(ngModel)]="food.title">
  </div>
  <div class="form-group">
    <label for="summary">Summary</label>
    <textarea id="summary" class="form-control" name="summary" [(ngModel)]="food.summary"></textarea>
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input type="text" id="image" class="form-control" name="image" [(ngModel)]="food.image">
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <input type="text" id="category" class="form-control" name="category" [(ngModel)]="food.category">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" id="price" class="form-control" name="price" [(ngModel)]="food.price">
  </div>
  <button type="submit" class="btn btn-primary">Update Food</button>
</form>
