.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-image: linear-gradient(
    to right,
    #baf3d7,
    #c2f5de,
    #cbf7e4,
    #d4f8ea,
    #ddfaef
  );
}

.active-link {
  background-color: rgb(71, 152, 72);
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;

  color: rgb(226, 44, 44);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
a{
  color: rgb(226, 44, 44);
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}
#sidebar-wrapper a:hover{
  color: #9a21119a;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}
.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}


/*
@media (max-width: 767px) {
  #sidebar-wrapper {
    margin-left: -100%;
  }
}

@media (max-width: 767px) {
  #sidebar-wrapper {
    margin-left: -100%;
    transition: margin-left 0.5s ease-in-out;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
} */














