/* .main-menu {
  background-color: rgb(220, 20, 20);
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.3);
  height: 100%;
  position: fixed;
  top: 0;
  transition: width 0.5s;
  width: 250px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .main-menu {
    width: 60px;
  }
  .main-menu.expanded {
    width: 200px;
  }
  .main-menu.expanded .nav-text {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
}


.main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-menu li {
  position: relative;
}

.main-menu > ul > li > a {
  color: #fff;
  display: block;
  line-height: 60px;
  padding: 0 20px;
  text-decoration: none;
}

.main-menu > ul > li > a:hover {
  background-color: white;
  color: rgb(220, 20, 20);
}

.main-menu > ul > li.has-subnav > a::after {
  font-family: FontAwesome;
  font-size: 18px;
  position: absolute;
  right: 20px;
  top: 20px;
}

@media screen and (max-width: 768px) {
  .main-menu > ul > li > a .nav-text {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .main-menu > ul > li > a.no-labels:only-child::after {
    content: none;
  }
}


.main-menu ul.subnav {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 60px;
  width: 100%;
}

.main-menu ul.subnav li {
  position: relative;
}

.main-menu ul.subnav li a {
  background-color: white;
  color: rgb(220, 20, 20);
  display: block;
  line-height: 40px;
  padding: 0 40px;
  text-decoration: none;
}

.main-menu ul.subnav li a:hover {
  background-color: #4f525b;
}

.main-menu ul.subnav li.has-subnav > a::after {
  content: '\f0da';
  font-family: FontAwesome;
  font-size: 18px;
  position: absolute;
  right: 20px;
  top: 10px;
}

.main-menu ul.subnav li.has-subnav.open > a::after {
  content: '\f0d7';
}

.main-menu.expanded ul.subnav {
  display: block;
}

.main-menu .nav-text {
  display: inline-block;
  font-size: 16px;
  margin-left: 20px;
}

.menu-toggle {
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 20px;
  line-height: 60px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
}

.menu-toggle:hover {
  background-color: #3c3f48;
}

.menu-toggle i {
  display: inline-block;
  vertical-align: middle;
}

.dashboard-widgets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.dashboard-widget {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.dashboard-widget h3 {
  margin-top: 0;
}

.dashboard-widget-value {
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0 0;
} */

























/* :root {
  --main-bg-color: #009d63;
  --main-text-color: #009d63;
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde;
} */

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-image: linear-gradient(
    to right,
    #baf3d7,
    #c2f5de,
    #cbf7e4,
    #d4f8ea,
    #ddfaef
  );
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  /* background-color: rgba(220, 20, 20, 0.8) !important; */
  color: rgb(226, 44, 44);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}
#sidebar-wrapper a:hover{
  color: #9a21119a;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}
.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}


/*
@media (max-width: 767px) {
  #sidebar-wrapper {
    margin-left: -100%;
  }
}

@media (max-width: 767px) {
  #sidebar-wrapper {
    margin-left: -100%;
    transition: margin-left 0.5s ease-in-out;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
} */














